body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #eef2f3, #cfd9df);
    color: #333;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
  
  .canvas {
    height: 73vh;
    width: 100%;
    max-width: 1036px;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    background: white;
  }

  .display-panel {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    background: linear-gradient(135deg, #160f47, #251c6c);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  
  .top-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #52dd52;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .display-panel h1 {
    font-size: 1.4em;
    margin: 0;
    color: #52dd52;
  }
  
  .mode-name {
    color: #ffea00;
    font-weight: bold;
  }
  
  .operations {
    max-height: 90%;
    min-height: 400px;
    overflow-y: auto;
    padding-right: 5px;
    scrollbar-width: thin;
    scrollbar-color: #ffffff24  transparent;
    text-wrap: nowrap;
  }
  
  .operations::-webkit-scrollbar {
    width: 6px;
  }
  
  .operations::-webkit-scrollbar-thumb {
    background: #52dd52;
    border-radius: 10px;
  }
  
  .controls {
    background: #f1f3f6;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .controls form input {
    height: 2rem;
    width: 100px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .controls button {
    border: none;
    padding: 10px 18px;
    background: #d72e33;
    color: #fff;
    font-weight: bold;
    border-radius: 12px;
    font-size: 1rem;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.2);
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
  }
  
  .controls button:hover {
    cursor: pointer;
    background: #e2db13;
    box-shadow: 0px 4px 12px rgba(50, 50, 50, 0.4);
    transform: translateY(-2px);
  }
  
  .controls button[data-clicked='true'] {
    background: #0b28c9;
  }
  
  .controls button:focus {
    outline: none;
  }
  
  .left {
    display: flex;
    gap: 1rem;
  }
  
  .right form label {
    padding: 0 10px 0 0;
  }
  
  .start-node {
    height: 2rem;
    width: 100px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  @media (max-width: 1024px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .display-panel {
      width: 100%;
    }
  
    .canvas {
      width: 100%;
    }
  
    .controls {
      flex-direction: column;
      gap: 10px;
    }
  
    .controls form input {
      width: 100%;
    }
  }
  